body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #008080;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    margin: 0;
    padding: 0;
}

header p {
    color: white;
}

main {
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

a.remove-style {
    text-decoration: none;
    color: inherit;
}
